html{
    background-image: url("img/fondo.jpg");
   
}


h1{
    margin-top: 0;
    margin-left: 40rem;
    font-size: 10px;  
    color: gray; 
}

.titulo{
    margin-left: 26rem;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}
.carac{
    display: flex;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    color: gray;
}

.maestro{
    display: block;
    margin-left: 560px;
   
}
.nombreMaestro{
    font-size: 30px;
    margin-left: 35rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav li{
    display:inline-block;
    width:10%;
    padding:50px 145px;
    background-color:#000;
    border:1px solid rgb(3, 245, 84);
    text-align:center;
    color:#fff;    
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }
.imgpoke{
   display: block;
   float: left;
   margin-right: 10px;
   margin-top: 10px;
   width: 300px;
   height: 300px;   

}

.atras{
    float:right
}

.flecha{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
}

p{
    display: flex;
    justify-content: center;
    color: gray;
}


ol{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray; 
    font-size: 40px;
}

.res{
    float: left;
    width: 100px;
    height: 100px;
}



